  <launch>
  
  <rosparam command="load"
            file="$(find dishwasher_control)/config/dishwasher_control.yaml"/>
 
 <node name="controller_spawner" pkg="controller_manager" type="spawner" respawn="false"
    output="screen" args="/dishwasher/joint_state_controller
                                            /dishwasher/upper_basket_position_controller 
                                            /dishwasher/lower_basket_position_controller
                                            /dishwasher/door_position_controller"/>
 
 <!-- <node name="controller_spawner" pkg="controller_manager" type="spawner" respawn="false"
    output="screen" args="/dishwasher/joint_state_controller" /> -->

  <!-- convert joint states to TF transforms for rviz, etc -->
  <node name="robot_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher"
	respawn="false" output="screen">
    <remap from="/joint_states" to="/dishwasher/joint_states" />
  </node>

</launch>