<?xml version="1.0"?>

<model>
  <name>dishwasher4</name>
  <version>1.0</version>
  <sdf version="1.6">model.sdf</sdf>

  <author>
    <name>Floris Meccanici</name>
    <email>florismecccanici@gmail.com</email>
  </author>

  <depend>
    <model>
      <uri>model://suv</uri>
      <version>1.0</version>
    </model>
  </depend>

  <description>
    A dishwasher
  </description>
</model>
