<launch>

<!-- Launch marco wifi_roaming controller -->
    <include file="$(find wifi)/launch/marco.launch"/>

<!-- Launch marco heartbeat monitor -->
    <!--<include file="$(find heartbeat_monitor)/launch/monitor_marco.launch"/>-->

<!-- Launch marco wifi data info controller -->
    <include file="$(find marco_wifi)/launch/marco_wifi.launch"/>
    



</launch>