<launch>

<arg name="refinement_stiffness" default="0.05"/>
<arg name="refinement_damping_coefficient" default="0.001"/>

<node pkg="refinement_force_publisher" name="refinement_force_publisher" 
type="refinement_force_publisher.py" output="screen">

    <param name="refinement_stiffness" value="$(arg refinement_stiffness)"/>
    <param name="refinement_damping_coefficient" value="$(arg refinement_damping_coefficient)"/>
</node>

</launch>